/* styles.css */

* {
	font-family: Lato, Open Sans, sans-serif;
}

body {
  margin: 0;
  background-color: #006241;
  font-family: "Open Sans", sans-serif;
}

.container {
	width: 500px
	margin: 50px auto;
	text-align: center;
}

.background-image {
	background-image: url(../img/Starbucks Drink.png);
	width: 425px;
	height: 425px;
}

h1 {
	text-align: center
	color: white
}
