/* styles.css */

* {
	font-family: Lato, Open Sans, sans-serif;
}

body {
	background-color: #006241;
}

.backgroundimage {
	width: 465px;
	margin: 50px auto;
	text-align: center;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
	text-align: cetner;
	color: white;
}

a:hover {
	text-decoration: underline;
}

.image-hover-container {
  position: relative;
  width: 465px;
}

.overlay-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
}

/* Hide alternate text using ::after */
.overlay-text::after {
  content: "";
}

/* Change text on hover */
.image-hover-container:hover .overlay-text {
  font-size: 24px;
}

.image-hover-container:hover .overlay-text::after {
  content: "Pay your study rent";
}

/* Hide original text on hover */
.image-hover-container:hover .overlay-text {
  color: transparent;
}

.image-hover-container:hover .overlay-text::after {
  color: white;
}
